body {
    background-color:white;
    margin: 50px;
  }
.content{
    width:500px;
    margin:auto;
    padding:20px;
    background: rgba(0, 255, 255, 0.514);
font-size:20px;
font-family:Verdana;
color:black;
height:300px;
padding-left:5%;
padding-right:5%;
padding-top:5%;
padding-bottom:3%;
box-sizing: border-box;
}
input[type = text]{
    padding:5px;
    font-size:10px;
    width:70%;
}
input[type = email]{
    padding:5px;
    font-size:10px;
    width:70%;
}
input[type = submit]{
    padding:4px;
    font-size:15px;
    width:20%;
}
input[type = Title]{
    padding:5px;
    font-size:10px;
    width:10%;
}