body {
	margin: 0;
	padding: 0px;
	text-align: center;
	width: 100%;
	font-family: all;
	color: gray;
}

header {
	background-color: #46C7C7;
	margin-bottom: 10px;
}

form {
	display: block;
	margin-top: 30px;
}

#wrapper {
	margin: 0 auto;
	padding: 0px;
	text-align: center;
	width: 995px;
	padding-top: 20px;
	padding-bottom: 300px;
	background-image: url("auth-bg.png");
	background-repeat: no-repeat;
	background-position: center;
}

.left {
	float: left;
	width: 30%;
	text-align: left;
	line-height: 15px;
	margin-top: 40px;
	margin-left: 20px;
}

.left .new {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
}

.new2 {
	font-size: 17px;
	line-height: 1.6px;
}

.right {
	padding-left: 100px;
}

.image {
	margin: 0 auto;
	margin-left: 50px;
}

img {
	padding-top: 20px;
	margin-left: 20px;
	height: 120px;
	width: 120px;
}

.form_div {
	margin-top: 5px;
	width: 330px;
	margin-left: 320px;
	padding: 10px;
	background-color: white;
}

.button {
	padding: 3px 5px;
	font-size: 12px;
	background: grey;
	color: white;
	border: none;
	width: 20%;
	border-radius: 4px;
	margin-top: 20px;
	cursor: pointer;
}

input[type="text"], input[type="email"], input[type="password"] {
	width: 230px;
	height: 30px;
	border-radius: 4px;
	font-size: 17px;
	padding-left: 8px;
	border: 1px solid gray;
}

input[type="submit"] {
	width: 230px;
	height: 30px;
	border: none;
	border-radius: 2px;
	font-size: 17px;
	background-color: #46C7C7;
}

#wrapper label {
    color: rgb(64, 92, 96);
    position: relative;
}
.keeplogin label {
    width: 80%;
    display: inline-block;
    font-size: 12px;
    top: 0;
}

.keeplogin label a {
}

.bottom {
	box-sizing: border-box;
	display: block;
	bottom: 0;
	float: left;
	width: 100%;
}

.bottom ul li {
	margin-top: 0px;
	margin-bottom: 50px;
	list-style-type: none;
	display: inline-block;
}

.bottom ul li a {
	text-decoration: none;
	color: black;
	font-weight: 500;
	padding: 5px 10px;
}

.logo {
	height: 35px;
	width: 50px
}