@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

.container {
    margin: 0;
    padding: 0;
}

/*Background icon positioning */

.top-left, .top-right {
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.top-left {
    position: absolute;
    left: 0.04%;
    right: 0.17%;
    top: 0%;
    bottom: 0%;
   
}

.top-right {
    position: absolute;
    left: 0.04%;
    right: 0.17%;
    top: 26.03%;
    bottom: 2.96%;
    margin-top: 100px;
}

/* logo */

.logo {
    width: 7.5rem;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

/* center image */

.girl {
    width: 50%;
    height: 500px;
    margin-top: 90px;
    position: absolute;
    top: 27.13%;
    left: 26%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
}

/* path across */

.path {
    position: absolute;
    margin-top: 45%;
    width: 100%;
    height: 500px;
    z-index: -1;
}

/*form*/

form {
    margin-top:350PX;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px 0px;
    background: #fff;
    border: 1px solid white;
}

form input {
    padding-left: 2em;
    height: 5vh;
    font-size: 87%;
    margin-bottom: 1.5em;
    width: 85%;
    border: 1px solid #B7B3B3;
    box-sizing: border-box;
}

.Forgot-Password {
    margin-left: 185px;
    font-size: 0.6em;
    margin-top: -10px;
    cursor: pointer;
}

/* button */

#logIn {
    padding-left: 2em;
    height: 5vh;
    font-size: 87%;
    margin-bottom: 1.5em;
    width: 85%;
    border: 1px solid rgba(34, 157, 165, 0.63);
    background: rgba(34, 157, 165, 0.63);
    box-sizing: border-box;
    margin-top: 30px;
    color: white;
}

.redText {
    text-decoration: none;
    padding-bottom: 60px;
}

.redText:hover {
    color: red;
}

/* Budget and Expense Tracking */

.tracking {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    padding-left: 100px;
    margin-top: 250px;
    color: #707070;
    font-family: 'Nunito', sans-serif;
}

/* Section 2 */

.register-btn {
    text-align: center;
    color: #707070;
    font-family: 'Nunito', sans-serif;
}

#Register {
    background: #222222;
    opacity: 0.5;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    color: white;
}

/* navbar */

.navbar {
    font-size: 18px;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.nav-links {
    text-decoration: none;
    color: #707070;
    padding-right: 20px;
    font-family: 'Nunito', sans-serif;
}

/* media queires  */
@media (width: 1346px) {
    .tracking {
        margin-top: 200px;
    }
  }

  
@media (width: 1104px) {
    .path{
        margin-top: 54%;
    }
    .tracking {
        margin-top: 190px;
        padding-left: 20px;
    }
  }

  @media (width: 768px) {
    .path{
        margin-top: 85%;
    }
    .tracking {
        margin-top: 180px;
        padding-left: 80px;
        padding-right: 30px;
    }

    
.Forgot-Password {
    margin-left: 115px;
    
}
  }

  @media (width: 375px) {
    .path{
        margin-top: 190%;
        height: 400px;
    }

    .tracking {
        display: block;
        margin-top: 250px;
        text-align: center;
        padding-right:50px;
    }

    form {
        margin-top:350PX;
        width: 50%;
        
    }
    
.Forgot-Password {
    margin-left: 115px;
    
}
  }