* {
  box-sizing: border-box;
}

.head {
  background-color: #4fa3a8;
  z-index: 5;;
}
.head > p {
  color: whitesmoke;
  font-size: 20px;
  text-shadow: 1px 1px 1px #073d40, 2px 2px 2px #084144, 3px 3px 3px #052b2d,
    4px 4px 4px #104f52, 5px 5px 5px #0c4346, 6px 6px 6px #1bbcc5;
}
.sack {
  position: relative;
  top: 0;
  bottom: -10px;
  width: 72px;
  height: 72px;
}

.cover {
  float: right;
  margin-top: 30px;
}

.flex-container {
  background-color: #f5f5f5;
}

.values {
  height: 100px;
  background-color: #4fa3a8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values p {
  color: white;
}

.graph {
  height: 100px;
  background-color: #ddd;
  box-shadow: 0px 0px 20px rgba(112, 112, 112, 0.32) 0px 0px 10px #e5e5e5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-size: 20px;
  color: #4fa3a8;
}

.input {
  margin-bottom: 30px;
}

.items {
  display: flex;
  flex-direction: column;
}

.items-container {
<<<<<<< HEAD
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(134, 62, 62, 0.32), 0px 0px 10px #e5e5e5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  width: 100%;
=======
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(134, 62, 62, 0.32), 0px 0px 10px #E5E5E5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    padding-bottom: 20px;
    padding-top: 10px
>>>>>>> upstream/hephbudget-frontend
}

.item {
  display: flex;
  justify-content: space-between;
}

.exp {
  margin-bottom: 15px;
}

.in {
  height: 36px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.amount {
  width: 202px;
  height: 36px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding-left: 10px;
}

<<<<<<< HEAD
.calc > button {
  width: 149px;
  height: 44px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  color: white;
=======

button {
    margin-top: 60px;
    /* margin-left: 95.5px; */
    width: 149px;
    height: 44px;
    background-color: #FE5F55;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
>>>>>>> upstream/hephbudget-frontend
}

#clear {
    margin-left: 15px;
}

#cal {
    margin-left: 10px;
}

.breakdown {
  background-color: #4fa3a8;
  height: auto;
  width: auto;
  padding: 15px 40px 30px 20px;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.back {
  background-color: #83c3d3;
  border-radius: 10px;
  width: 100%;
  height: 7px;
}

.color {
  width: 236px;
  height: 7px;
  background-color: #4d4981;
  border-radius: 10px;
}

.align {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: -4px;
}

.add-icon {
  color: #4fa3a8;
  width: 30px;
  height: 30px;
}

.del {
<<<<<<< HEAD
  color: red;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.footer{
  bottom: 0;
  position: absolute;
  color: #4fa3a8;
}
@media screen and (max-width: 768px){
  .footer{
    position: relative;
    margin-top: 50px;
  }
}
=======
    color: red;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.remaining {
    margin-top: 20px;
    display: none
}

.allocating {
    margin-left: 20px;
    width: 80%
}

.all {
    margin-top: -15px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.alloc {
    margin-right: 60px;
}

.first {
    width: 40px;
    height: auto
}

@media only screen and (max-width: 1000px) {
    /* .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .display {
        width: 400px
    }
}

@media only screen and (max-width: 850px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .display {
        width: 544px;
    }

    .input {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 650px) {
    .display {
        width: 360px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


>>>>>>> upstream/hephbudget-frontend
