* {
    margin: 0;
}

html,
body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    height: 100vh;
}

.header {
    flex-grow: 0;
}

.content {
    flex-grow: 1;
    overflow: auto;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(34, 157, 165, 0.63);
    flex-wrap: wrap;
    color: #fff;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Nunito Georgia, 'Times New Roman', Times, serif;
}

.nav-div {
    display: flex;
    align-items: center;
}

li {
    padding: 1%;
    margin-right: 3%;
    font-size: 1.3em;
}

li:nth-child(1) {
    margin-right: auto;
    font-size: 28px;
    font-weight: 900;
}

li:last-child {
    color: #fff;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

*/ img {
    max-width: 100%;
}

@media (max-width: 620px) {
    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
}

main.intro {
    display: flex;
    padding: 10%;
    color: #fff;
    background: #00c6a9a1;
    align-items: center;
}

.copy {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
}

img.image-finance {
    max-width: 100%;
}

div.hero-class.image-finance {
    display: flex;
    justify-content: center;
    flex: 3;
}

.hero-class h1 {
    margin: 10px;
    font-size: 32px;
    font-family: Lato 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.hero-class p {
    margin: 10px;
    font-weight: 300;
    font-size: 24px;
}

a.cta {
    color: #fff;
    background: #FE5F55;
    padding: 3%;
    margin: 10px;
    border-radius: 5px;
    font-weight: 200;
    text-decoration: none;
}

/* features section */


.feature-head {
    text-align: center;
    margin-top: 4%;
    font-family: Nunito Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 800;
}

.features-row {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    flex-wrap: wrap;
}

.inner-feature img {
    margin-bottom: 10%;
}

.inner-feature p {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.inner-feature {
    display: flex;
    flex-direction: column;
    padding: 1%;
    border: 2px solid #00c6a9a1;
    flex: 1;
    margin: 3%;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* 
mobile app */

.mobile-app {
    background: #222222;
    padding: 4%;
    text-align: center;
}

.mobile-app img {
    width: 67px;
    height: 62px;
}

.mobile-app h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    font-family: Nunito Georgia, 'Times New Roman', Times, serif;
}

.mobile-app h3 {
    color: #fff;
    font-weight: bold;
}

.mobile-app a,
h1,
h3 {
    margin: 1%;
}

.mobile-app a {
    margin: 0 auto;
    display: flex;
    width: 200px;
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 1%;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #fff;
    font-size: 32px;
}